/* scrollbars */

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid white;
}

::-webkit-scrollbar-thumb:horizontal {
	border-top: 1px solid white;
}

/* fonts */

@font-face {
	font-family: Roboto;
	src: url(font/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Courier Prime";
	src: url(font/CourierPrime-Regular.ttf);
}

/* wrappers */

body {
	margin: 0;
	background: #000000;
	color: #dddddd;
	font-family: Roboto, sans-serif;
	-webkit-user-select: none;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* titlebar */

.titlebar {
	padding: 1em;
	display: flex;
	align-items: center;
}

.name {
	flex: 1;
	-webkit-app-region: drag;
}

.close {
	width: 0.5em;
	height: 0.5em;
	margin: 0 0.3em;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

.close:hover {
	background: white;
}

/* toolbar */

.toolbar {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
}

.toolbar .left,
.toolbar .right {
	display: flex;
}

.toolbar .button {
	width:  2em;
	height: 2em;
	background-size: contain;
	background-position: center;
	cursor: pointer;
	transition: opacity 0.1s;
}

.toolbar .left .button { margin-left: 1em; }
.toolbar .right .button { margin-right: 1em; }

.toolbar .button#add     { background-image: url("img/add.svg"); }
.toolbar .button#remove  { background-image: url("img/remove.svg"); }
.toolbar .button#edit    { background-image: url("img/edit.svg"); }
.toolbar .button#connect { background-image: url("img/connect.svg"); }
.toolbar .button#run     { background-image: url("img/run.svg"); }
.toolbar .button#import  { background-image: url("img/import.svg"); }
.toolbar .button#export  { background-image: url("img/export.svg"); }

.toolbar:hover .button { opacity: 0.5; }
.toolbar:hover .button:hover {opacity: 1;}

/* content */

.content {
	padding: 0 1em;
	flex: 1;
	display: grid;
	grid-template-columns: repeat(9999, 10em);
	overflow: auto;
	font-family: "Courier Prime", monospace;
}

.column {
	padding: 0 0.5em;
	width: 10em;
}

.column.focus {
	background: rgba(255, 255, 255, 0.02);
}

.block, .column.new::before {
	margin: 1rem 0.5rem;
	padding: 1.5rem 1rem;
	background: black;
	border: 1px solid #999;
	box-sizing: border-box;
}

.block.focus {
	outline: 2px solid white;
}

.column.new {
	padding: 0 0.5em;
	width: 10em;
	cursor: pointer;
}

.column.new::before {
	content: "+";
	padding: 1rem;
	border: 1px dashed #999;
	display: block;
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-size: 1.75em;
}

.column.new:hover::before {
	border: 1px solid transparent;
	outline: 2px dashed white;
}
