@font-face {
	font-family: "Space Mono";
	src: url(font/SPACEMONO-REGULAR.TTF);
}

/* wrappers */

body {
	margin: 0;
	background: #000000;
	color: #dddddd;
	font-family: "Space Mono", monospace;
	-webkit-user-select: none;
}
